.engineer {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    padding: 10px;
    text-align: left;
}

.engineer-detail {
    margin-left: 10px;
}

.engineer-name {
    color: blue;
    font-weight: 500;
    width: 400px;
}

.btn-regular {
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}