.engineer {
    border: 1px solid lightgray;
    margin-right: 5px;
    padding: 15px 0 15px 0;
    text-align: center;
    width: 300px;
    border-radius: 10px;
    background-color: lightgray;
}

.engineer-img img{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}


.engineer-name {
    color: rgb(26, 26, 80);
    font-weight: 500;
    font-size: 1.3em;
}

.engineer-detail {
    font-size: 0.9em;
    font-weight: 500;
}

.btn-regular {
    background-color: goldenrod;
    width: 150px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}